version: '3.8'

services:
  graphql-service:
    build:
      context: ./services/graphql_service
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: ${DATABASE_URL}

  ingestion-service:
    build:
      context: ./services/ingestion_service
    environment:
      DATABASE_URL: ${DATABASE_URL}

  notification-service:
    build:
      context: ./services/notification_service
    ports:
      - "8001:8000"
    environment:
      SMTP_HOST: smtp.gmail.com
      SMTP_PORT: 587
      SMTP_USERNAME: ${SMTP_USERNAME}
      SMTP_PASSWORD: ${SMTP_PASSWORD}
      FROM_EMAIL: ${FROM_EMAIL}
      ADMIN_EMAILS: ${ADMIN_EMAILS}